<div class="about_page_banner">
  {% include 'top_menu' %}
  <div class="container">
    <div class="content mx-20">
      <h1 class="md_big_title font-bold">
        About<span class="color_primary"> May Yang</span>
      </h1>
      <img
        src="https://s3.amazonaws.com/unode1/assets/24958/NLbhhXYrSHueuF2fjvcN_logo_black.png"
        alt="About May Yang"
      />
    </div>
  </div>
</div>

<style>
  .about_page_banner {
    background: url('https://s3.amazonaws.com/unode1/assets/24958/q6xuCgpeT76gl7uaX3rV_about_page_hero_banner.jpg');
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .about_page_banner .container {
    height: 85%;
  }

  .about_page_banner .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
</style>
