<div class="ballet_dance pt-40">
  <div class="container flex justify-center">
    <div class="content grid grid-cols-2 items-center gap-20">
      <div class="relative h-full w-full">
        <div class="flex">
          <div class="image1 mr-2">
            <img
              src="https://s3.amazonaws.com/unode1/assets/24958/kdlMRDXWQRmWhQbFF5ux_ballet_dance1.jpg"
              alt="Ballet & Contemporary Dance, Performing in New York"
            />
          </div>
          <div class="image2 -mt-12 mr-24">
            <img
              src="https://s3.amazonaws.com/unode1/assets/24958/wZ0u7WMPQqqum8AFaTh4_ballet_dance2.jpg"
              alt="Ballet & Contemporary Dance, Performing in New York"
            />
          </div>
        </div>
        <div class="absolute image3">
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/AQvMeK5bSqalNTa0Kr00_ballet_dance3.jpg"
            alt="Ballet & Contemporary Dance, Performing in New York"
          />
        </div>
      </div>
      <div>
        <h2 class="md_big_title font-bold">
          <span class="color_primary">Ballet & Contemporary Dance, </span
          >Performing in New York
        </h2>
        <p class="text-lg color_tertiary mt-8">
          Her passion for dance and fitness then took her to Australia, where
          she attained a Distinction in her Bachelor of Dance at Queensland
          University of Technology. She performed with a Sydney dance company
          and broadened her experience in dance and choreographic performance by
          moving to New York where she performed with the New York Ajkun Ballet
          Theatre and Ellen Sinopoli Modern Dance Company (New York) among
          others.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .ballet_dance {
    background-color: #f7f7f7;
    padding-bottom: 20rem;
  }

  .ballet_dance .content {
    max-width: 85rem;
  }

  .ballet_dance .content .image1 {
  }

  .ballet_dance .content .image2 {
  }

  .ballet_dance .content .image3 {
    right: 0;
    bottom: -14rem;
  }
</style>
