<div class="childhood_talent py-10 md:py-20">
  <div class="container flex justify-center">
    <div class="content grid xl:grid-cols-2 items-center gap-20">
      <div class="childhood-talent-images mx-auto relative h-full w-full md:max-w-xl xl:max-w-2xl order-2 xl:order-1">
        <div class="image1">
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/39K1wPZvSSxRUyZfOnSU_childhood_talent1.jpg"
            alt="Childhood talent, Performing for Queen Elizabeth II in China, 1986"
          />
        </div>
        <div class="absolute image2">
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/AukdvlChSqKnIKzED6bk_childhood_talent2.jpg"
            alt="Childhood talent, Performing for Queen Elizabeth II in China, 1986"
          />
        </div>
        <div class="absolute image3">
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/XoGJGDG9SbadsduXeaaP_childhood_talent3.svg"
            alt="Childhood talent, Performing for Queen Elizabeth II in China, 1986"
          />
        </div>
      </div>
      <div class="order-1 xl:order-2">
        <h2 class="md_big_title font-bold">
          <span class="color_primary">Childhood talent, </span>Performing for
          Queen Elizabeth II in China, 1986
        </h2>
        <p class="md:text-lg color_tertiary mt-8">
          May started dancing at a young age when she attended the Guangzhou
          Children’s Dance Palace from the age of 5. As a child she was selected
          to lead dances for the Chinese political leadership in the Great Hall
          of the People in Beijing as well as for Her Majesty Queen Elizabeth II
          on her first state visit to China in 1986.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .childhood_talent .content {
    max-width: 85rem;
  }

  .childhood_talent .content .image2 {
		right: 0;
    bottom: -60px;
  }

  .childhood_talent .content .image3 {
		bottom: -100px;
    right: 160px;
  }

	@media only screen and (max-width: 1280px) {
		.childhood_talent .content .image2 {
			right: -30px;
    bottom: -150px;
  }

	.childhood_talent .content .image3 {
		bottom: -180px;
    right: 140px;
  }
	}

	@media only screen and (max-width: 640px) {
		.childhood_talent .childhood-talent-images {
			max-width: 15rem;
  }

		.childhood_talent .content .image2 {
			right: -40px;
    bottom: -70px;
    width: 150px;
  }

	.childhood_talent .content .image3 {
		bottom: -95px;
    right: 40px;
    width: 20px;
  }
	}
</style>
