<div class="childhood_talent py-20">
  <div class="container flex justify-center">
    <div class="content grid grid-cols-2 items-center gap-20">
      <div class="relative h-full w-full">
        <div class="image1">
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/39K1wPZvSSxRUyZfOnSU_childhood_talent1.jpg"
            alt="Childhood talent, Performing for Queen Elizabeth II in China, 1986"
          />
        </div>
        <div class="absolute image2">
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/AukdvlChSqKnIKzED6bk_childhood_talent2.jpg"
            alt="Childhood talent, Performing for Queen Elizabeth II in China, 1986"
          />
        </div>
        <div class="absolute image3">
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/XoGJGDG9SbadsduXeaaP_childhood_talent3.svg"
            alt="Childhood talent, Performing for Queen Elizabeth II in China, 1986"
          />
        </div>
      </div>
      <div>
        <h2 class="md_big_title font-bold">
          <span class="color_primary">Childhood talent, </span>Performing for
          Queen Elizabeth II in China, 1986
        </h2>
        <p class="text-lg color_tertiary mt-8">
          May started dancing at a young age when she attended the Guangzhou
          Children’s Dance Palace from the age of 5. As a child she was selected
          to lead dances for the Chinese political leadership in the Great Hall
          of the People in Beijing as well as for Her Majesty Queen Elizabeth II
          on her first state visit to China in 1986.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .childhood_talent .content {
    max-width: 85rem;
  }

  .childhood_talent .content .image2 {
    right: 0;
    bottom: 0;
  }

  .childhood_talent .content .image3 {
    bottom: -40px;
    right: 160px;
  }
</style>
