<div class="classes_and_events py-10 md:py-20">
  <div class="container">
    <div class="content">
      <div>
        <h2 class="md_big_title font-bold">
          <span class="color_primary">MY Fitness, </span>Corporate Classes and
          Events
        </h2>
        <p class="md:text-lg color_tertiary mt-8 mb-12 max-w-5xl">
          In addition, several corporations retain her to run regular fitness
          classes for their staff plus she has led fitness events for more than
          5,000 people for the Singapore government.
        </p>
      </div>
      <div class="grid md:grid-cols-2 gap-8 md:gap-12">
        <div>
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/xyTDmkgmRS2OqJxqVmGW_classes_events1.jpg"
            alt="MY Fitness, Corporate Classes and Events"
            class="w-full h-full object-cover"
						loading="lazy"
          />
        </div>
        <div>
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/6Qw69gStRDGqx0zu1KHg_classes_events2.jpg"
            alt="MY Fitness, Corporate Classes and Events"
            class="w-full h-full object-cover"
						loading="lazy"
          />
        </div>
        <div>
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/4kEShOOR9CwjV4fthI4O_classes_events3.jpg"
            alt="MY Fitness, Corporate Classes and Events"
            class="w-full h-full object-cover"
						loading="lazy"
          />
        </div>
        <div>
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/7uaD9wdmRquI64cUeYPE_classes_events4.jpg"
            alt="MY Fitness, Corporate Classes and Events"
            class="w-full h-full object-cover"
						loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .classes_and_events {
    background-color: #f7f7f7;
  }
</style>
