<div>
  {% include 'top_menu' %}
	<div class="explore_hero_section py-20">
  <div class="container flex flex-col items-center">
    <div class="content max-w-5xl text-center">
      <h1 class="md_big_title font-bold"><span class="color_primary">MY Fitness </span>Online Programs
      </h1>
			<p class="text-lg color-tertiary mt-8">
				Welcome to MY Fitness!  I have designed a series of workout and dance programs that uses my 20+ years experience as a professional Fitness, Pilates and Yoga trainer and Stage Choreographer and Dance Performer. 
			</p>
			<p class="text-lg color-tertiary mt-8">
				These online programs use multiple different fitness formats to help you achieve your fitness goals – be that weight loss, cardio training, improved flexibility and coordination, and muscle toning.  My instruction in the videos clearly explains the movements for both beginners and those who are more advanced and make it clear which of your muscles will benefit from each routine.  The classes are suitable for men and women plus I also have a series of classes under “MY Family” which you can do by yourself, with your partner, or with your kids for fun, family workouts! 
			</p>
			<p class="text-lg color-tertiary mt-8">
				Classes are approximately 15-30mins each, since in that time your body can start to reap the benefits of regular workouts.  For those with more time, you can of course do two classes back-to-back. 
			</p>
			<p class="text-lg color-tertiary mt-8">
				The classes are fun and dynamic, and below I preview a selection of classes under each program.  I hope you enjoy the classes!  Practice, practice, practice!
			</p>
    </div>
  </div>
</div>
</div>

<style>
  .explore_hero_section {
    background-image: url('https://s3.amazonaws.com/unode1/assets/24958/Qjs2zTxWRBG3XAA297Wi_2nd_sec_bg.jpg');
    background-size: contain;
  }

  .explore_hero_section .container {
    
  }

  .explore_hero_section  .content {
    
  }
</style>