<div>
  {% include 'top_menu' %}
	<div class="explore_hero_section py-20">
  <div class="container flex flex-col items-center">
    <div class="content max-w-5xl text-center">
      <h1 class="md_big_title font-bold"><span class="color_primary">MY Fitness </span>Online Programs
      </h1>
			<p class="text-base md:text-lg color-tertiary mt-8">
				Join us to achieve your fitness goals – weight loss, cardio training, improved flexibility and coordination, and muscle toning! 
			</p>
			<p class="text-base md:text-lg color-tertiary mt-8">
				Classes are suitable for men and women, with instruction for both beginners and advanced explaining which muscles benefit from each routine. Classes under “MY Family” can be done by yourself, with your partner, or with your kids for fun, family workouts! 
			</p>
			<p class="text-base md:text-lg color-tertiary mt-8">
				Classes vary from 15-40mins each, so you can fit regular workouts into your schedule.
			</p>
    </div>
  </div>
</div>
</div>

<style>
  .explore_hero_section {
    background-image: url('https://s3.amazonaws.com/unode1/assets/24958/Qjs2zTxWRBG3XAA297Wi_2nd_sec_bg.jpg');
    background-size: contain;
  }

  .explore_hero_section .container {
    
  }

  .explore_hero_section  .content {
    
  }
</style>