<div class="featured_on_fitness px-4 py-10 md:py-20 flex flex-col items-center">
  <h2 class="md_big_title font-bold text-center">
    <span class="color_primary">May Yang, </span>featured on fitness
  </h2>
  <p class="md:text-lg color_tertiary mt-4 mb-10 text-center max-w-4xl">
    May and her fitness routines have been featured in Shape, The Peak,
    WestEast, and Her World magazines; on “Morning Fitness” on Singapore TV; and
    in the Straits Times newspaper.
  </p>
  <div class="about-page-swiper relative">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://s3.amazonaws.com/unode1/assets/24958/W5Qbg2FQTuiefaaf9lQA_featured_on_fitness1.jpg"
          alt="May Yang, featured on fitness"
					loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://s3.amazonaws.com/unode1/assets/24958/T9J28Z6CQ9OQTG1TXX5a_featured_on_fitness2.jpg"
          alt="May Yang, featured on fitness"
					loading="lazy"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://s3.amazonaws.com/unode1/assets/24958/sbCr80kzSLWYrEXEebnW_featured_on_fitness3.jpg"
          alt="May Yang, featured on fitness"
					loading="lazy"
        />
      </div>
			<div class="swiper-slide">
        <img
          src="https://s3.amazonaws.com/unode1/assets/24958/TJLnYzkwQEu7fhYaJpwi_featured_on_fitness4.jpg"
          alt="May Yang, featured on fitness"
					loading="lazy"
        />
      </div>
			<div class="swiper-slide">
        <img
          src="https://s3.amazonaws.com/unode1/assets/24958/tL7qLM8FS3KhThjbJorN_featured_on_fitness5.jpg"
          alt="May Yang, featured on fitness"
					loading="lazy"
        />
      </div>
    </div>
    <div class="swiper-button-next hidden xl:block"></div>
    <div class="swiper-button-prev hidden xl:block"></div>
  </div>
</div>

<style>
  .about-page-swiper {
    width: 100%;
  }

  .about-page-swiper .swiper-slide {
    width: 35%;
  }

  .about-page-swiper .swiper-slide img {
    width: 100%;
  }

  .about-page-swiper .swiper-button-next,
  .about-page-swiper .swiper-button-prev {
    color: rgba(0, 0, 0, 0.5);
    top: 50%;
  }

  .about-page-swiper .swiper-button-next {
    right: 80px;
  }

  .about-page-swiper .swiper-button-prev {
    left: 80px;
  }

	@media only screen and (max-width: 1280px) {
		.about-page-swiper .swiper-slide {
    width: 55% !important;
  }
	}

	@media only screen and (max-width: 640px) {
		.about-page-swiper .swiper-slide {
    width: 85% !important;
  }
	}
</style>
