<div class="fitness_studios px-4 py-10 md:py-20 flex flex-col items-center">
  <h2 class="md_big_title font-bold text-center">
    <span class="color_primary">MY Fitness </span>Studios
  </h2>
  <p class="text-lg color_tertiary mt-4 mb-10 text-center max-w-4xl">
    In 2010, she branched out on her own and set up her first MY Fitness studio
    to teach a wide range of Pilates (reformer, chair, mat), fitness exercise
    and dance classes. She also has specialist expertise in Pilates for rehab
    and pre/post-natal, plus has run MY Fitness Pilates instructor courses in
    Singapore and Botswana for many people seeking to become professional
    trainers.
  </p>
  <div class="about-page-swiper relative">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://s3.amazonaws.com/unode1/assets/24958/isqzAjwFQnmW8cdnYsbF_fitness_studios1.jpg"
          alt="MY Fitness studios"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://s3.amazonaws.com/unode1/assets/24958/pqTTP62ZRPGhEO0l8nnN_fitness_studios2.jpg"
          alt="MY Fitness studios"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://s3.amazonaws.com/unode1/assets/24958/D07F5LwSrWmROsieGfrG_fitness_studios3.jpg"
          alt="MY Fitness studios"
        />
      </div>
    </div>
    <div class="swiper-button-next hidden xl:block"></div>
    <div class="swiper-button-prev hidden xl:block"></div>
  </div>
</div>

<style>
  .about-page-swiper {
    width: 100%;
  }

  .about-page-swiper .swiper-slide {
    width: 35%;
  }

  .about-page-swiper .swiper-slide img {
    width: 100%;
  }

  .about-page-swiper .swiper-button-next,
  .about-page-swiper .swiper-button-prev {
    color: rgba(0, 0, 0, 0.5);
    top: 50%;
  }

  .about-page-swiper .swiper-button-next {
    right: 80px;
  }

  .about-page-swiper .swiper-button-prev {
    left: 80px;
  }

	@media only screen and (max-width: 1280px) {
		.about-page-swiper .swiper-slide {
    width: 55% !important;
  }
	}

	@media only screen and (max-width: 640px) {
		.about-page-swiper .swiper-slide {
    width: 85% !important;
  }
	}
</style>
