<div class="fitness_professional py-20">
  <div class="container flex justify-center">
    <div class="content grid grid-cols-2 items-center gap-20">
      <div>
        <h2 class="md_big_title font-bold">
          <span class="color_primary">May Yang, </span>a fitness professional
        </h2>
        <p class="text-lg color_tertiary mt-8">
          Thereafter, she pursued a full-time Pilates teaching course with the
          leading Pilates Institute of Australasia in Sydney and subsequently
          broadened her teaching repertoire with certifications in classical
          ballet, yoga, aerobics, body combat and kick-boxing. After returning
          to live in Singapore in 2003, May worked for six years as a lead
          instructor at Fitness First, Amore Fitness, True Yoga and True
          Fitness.
        </p>
      </div>
      <div>
        <img
          src="https://s3.amazonaws.com/unode1/assets/24958/MbUxpcEkSxaTiR5vwsMB_fitness_professional.jpg"
          alt="May Yang, a fitness professional"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .fitness_professional {
    background-color: #f7f7f7;
  }

  .fitness_professional .content {
    max-width: 80rem;
  }
</style>
