<section class="stay_in_touch stay-in-touch">
  <div class="container">
    <div class="stay-in-touch--content">
      <div>
        <h2 class="stay-in-touch--title">
          {{ settings.page_blocks.stay_in_touch.title }}
        </h2>
        <p class="stay-in-touch--subtitle">
          {{ settings.page_blocks.stay_in_touch.subtitle }}
        </p>
      </div>
      <div>
        <a
          href="{{ settings.page_blocks.stay_in_touch.cta_url | link }}"
          class="btn btn--primary btn--width"
        >
          {{ settings.page_blocks.stay_in_touch.cta_text }}
        </a>
      </div>
    </div>
  </div>
</section>
