<section class="our_pricing_plan our-pricing-plan">
  <div class="container">
    <div class="our-pricing-plan--content">
      <div>
        <h2 class="our-pricing-plan--title">
          {{ settings.page_blocks.our_pricing_plan.title }}
        </h2>
        <p class="our-pricing-plan--subtitle">
          {{ settings.page_blocks.our_pricing_plan.subtitle }}
        </p>
      </div>
      <div>
        <a
          href="{{ settings.page_blocks.our_pricing_plan.cta_url | link }}"
          class="btn btn--primary btn--width"
        >
          {{ settings.page_blocks.our_pricing_plan.cta_text }}
        </a>
      </div>
    </div>
  </div>
</section>
