<div class="my_body py-20">
  <div class="container">
    <div class="content flex flex-col items-center">

      <h2 class="md_big_title font-bold color_primary text-center">
        MY Body 
      </h2>
      <p class="text-base md:text-lg color_tertiary my-8 max-w-4xl text-center">
        Mind, Body and Soul exercises that focus on stretching, strengthening, balance and relaxation of the body.  We use a Yoga foundation for toning exercises to correct body posture, achieve noticeable muscle definition and shape, and improve focus and concentration. 
      </p>
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 2xl:gap-12 w-full">
        <div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/j4vUGU45hEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Yoga</h3>
        </div>
        <div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/juv-fChANQ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Yogalates</h3>
        </div>
        <div>
					<div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/piTFe29MRAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Toning & Stretching</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .my_body {
    background-image: url("https://s3.amazonaws.com/unode1/assets/24958/rumEfi9SJWoAYrETjMQs_ballet_dance_bg.jpg");
		background-size: contain;
  }


  .my_body .content .image-text {
    font-size: 34px;
		letter-spacing: .02em;
  }
	
	@media only screen and (max-width: 600px) {
		.my_body .content .image-text {
    font-size: 24px;
   }
	}

</style>
