<div class="my_body py-20">
  <div class="container">
    <div class="content flex flex-col items-center">

      <h2 class="md_big_title font-bold color_primary text-center">
        MY Body 
      </h2>
      <p class="text-lg color_tertiary my-8 max-w-4xl text-center">
        Mind, Body and Soul exercises that focus on stretching, strengthening, balance and relaxation of the body.  We use a Yoga foundation for toning exercises to correct body posture, achieve noticeable muscle definition and shape, and improve focus and concentration. 
      </p>
      <div class="grid grid-cols-3 gap-8">
        <div>
          <div>
            <img alt="HIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>
        <div>
          <div>
            <img alt="HIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>
        <div>
          <div>
            <img alt="HIIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .my_body {
    background-image: url("https://s3.amazonaws.com/unode1/assets/24958/rumEfi9SJWoAYrETjMQs_ballet_dance_bg.jpg");
		background-size: contain;
  }


  .my_body .content .image-text {
    font-size: 34px;
		letter-spacing: .02em;
  }

</style>
