<div class="my_cardio py-20">
  <div class="container">
    <div class="content flex flex-col items-center">

      <h2 class="md_big_title font-bold color_primary text-center">
        MY Cardio
      </h2>
      <p class="text-base md:text-lg color_tertiary my-8 max-w-4xl text-center">
        Cardio and HIIT classes designed to gets your heart rate up to help you burn fat, lose weight, strengthen your heart, and improve your mood.  We will use boxing, aerobics and HIIT to sweat it out with these intense workouts!
      </p>
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 2xl:gap-12 w-full">
        <div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/D6E1GMD-avo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Aerobic</h3>
        </div>
        <div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/jR-RFxwdVvw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Full Body Fit</h3>
        </div>
        <div>
					<div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/AWdO52dmtuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<style>

  .my_cardio .content .image-text {
    font-size: 34px;
		letter-spacing: .02em;
  }

	@media only screen and (max-width: 600px) {
		.my_cardio .content .image-text {
    font-size: 24px;
  }
	}

</style>
