<div class="my_dance py-20">
  <div class="container">
    <div class="content flex flex-col items-center">

      <h2 class="md_big_title font-bold color_primary text-center">
        MY Dance  
      </h2>
      <p class="text-lg color_tertiary my-8 max-w-4xl text-center">
        In these Dance classes, I use my stage performer and choreographer background to break down dance movements into easy-to-follow steps to create fun and stylish cardio routines mixed with body toning.  Different dance styles will be the focus of each class, such as Ballet, Modern Dance, MTV Dance, Hip Hop, Broadway Jazz, ….  Let’s make workouts really fun! 
      </p>
      <div class="grid grid-cols-3 gap-8">
        <div>
          <div>
            <img alt="HIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>
        <div>
          <div>
            <img alt="HIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>
        <div>
          <div>
            <img alt="HIIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .my_dance {
  }


  .my_dance .content .image-text {
    font-size: 34px;
		letter-spacing: .02em;
  }

</style>
