<div class="my_equipment py-20">
  <div class="container">
    <div class="content flex flex-col items-center">

      <h2 class="md_big_title font-bold color_primary text-center">
        MY Equipment   
      </h2>
      <p class="text-base md:text-lg color_tertiary my-8 max-w-4xl text-center">
        These classes are designed for those who have home gym/ Pilates equipment – each class uses either dumbbells, Fit Ball, TRX, Pilates Reformer, or Pilates Chair.  I have been teaching these for 20+ years in group and private classes, so bring my experience to create dynamic and easy-to-follow instruction.  Lets make the most of that equipment you’ve bought!  
      </p>
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 2xl:gap-12 w-full">
				<div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/x_vFNkmU_Bo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Pilates Reformer</h3>
        </div>
        <div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/GA1JzZP6uzY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Pilates Chair & Rolle</h3>
        </div>
        <div>
					<div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/jr_L9UfPnm8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Trx, Fit ball, Weight</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .my_equipment {
    background-color: #f7f7f7;
  }


  .my_equipment .content .image-text {
    font-size: 34px;
		letter-spacing: .02em;
  }

@media only screen and (max-width: 600px) {
	.content .image-text {
    font-size: 24px;
   }
	}

</style>
