<div class="my_family py-20">
  <div class="container">
    <div class="content flex flex-col items-center">

      <h2 class="md_big_title font-bold color_primary text-center">
        MY Family     
      </h2>
      <p class="text-lg color_tertiary my-8 max-w-4xl text-center">
        Fitness should be fun and inclusive, so these classes can be done by yourself, with your partner or with your kids as easy-to-follow, fun, family workouts.  The classes include Cardio, HIIT, Toning, Pilates, Yoga, and Dance – something for all the family to enjoy while you get fitter!  
      </p>
      <div class="grid grid-cols-3 gap-8">
        <div>
          <div>
            <img alt="HIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>
        <div>
          <div>
            <img alt="HIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>
        <div>
          <div>
            <img alt="HIIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .my_family {
    background-color: #f7f7f7;
  }


  .my_family .content .image-text {
    font-size: 34px;
		letter-spacing: .02em;
  }

</style>
