<div class="my_family py-20">
  <div class="container">
    <div class="content flex flex-col items-center">

      <h2 class="md_big_title font-bold color_primary text-center">
        MY Family     
      </h2>
      <p class="text-base md:text-lg color_tertiary my-8 max-w-4xl text-center">
        Fitness should be fun and inclusive, so these classes can be done by yourself, with your partner or with your kids as easy-to-follow, fun, family workouts.  The classes include Cardio, HIIT, Toning, Pilates, Yoga, and Dance – something for all the family to enjoy while you get fitter!  
      </p>
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 2xl:gap-12 w-full">
        <div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/g1L8os80KW8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Dance</h3>
        </div>
        <div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/2yax1cOhctA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Cardio</h3>
        </div>
        <div>
					<div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/U7R_7SrO8fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Body Fit</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .my_family {
    background-image: url("https://s3.amazonaws.com/unode1/assets/24958/rumEfi9SJWoAYrETjMQs_ballet_dance_bg.jpg");
		background-size: contain;
  }


  .my_family .content .image-text {
    font-size: 34px;
		letter-spacing: .02em;
  }

	@media only screen and (max-width: 600px) {
	.content .image-text {
    font-size: 24px;
   }
	}

</style>
