<div class="my_pilates py-20">
  <div class="container">
    <div class="content flex flex-col items-center">

      <h2 class="md_big_title font-bold color_primary text-center">
        MY Pilates 
      </h2>
      <p class="text-lg color_tertiary my-8 max-w-4xl text-center">
        Pilates classes to strengthen your core and back muscles and help to improve your flexibility, posture, body alignment and coordination.  Our workouts combine traditional and modern Pilates mat work and Barre exercises to make routines challenging and so you will enjoy the flow through each class.  I also include classes with simple Pilates accessories (eg., foam roller, dyna-band, Pilates ring, Pilates Wheel, elastic bar, …) for those who have these at home.
      </p>
      <div class="grid grid-cols-3 gap-8">
        <div>
          <div>
            <img alt="HIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>
        <div>
          <div>
            <img alt="HIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>
        <div>
          <div>
            <img alt="HIIT" class="w-full h-full object-cover" src="https://s3.amazonaws.com/unode1/assets/24958/tAu7u8GIRvqGQwCu7luK_program_img2.png"/>
          </div>
          <h3 class="text-center image-text font-bold mt-8">HIIT</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .my_pilates {
    background-color: #f7f7f7;
  }


  .my_pilates .content .image-text {
    font-size: 34px;
		letter-spacing: .02em;
  }

</style>
