<div class="my_pilates py-20">
  <div class="container">
    <div class="content flex flex-col items-center">

      <h2 class="md_big_title font-bold color_primary text-center">
        MY Pilates 
      </h2>
      <p class="ext-base md:text-lg color_tertiary my-8 max-w-4xl text-center">
        Pilates classes to strengthen your core and back muscles and help to improve your flexibility, posture, body alignment and coordination.  Our workouts combine traditional and modern Pilates mat work and Barre exercises to make routines challenging and so you will enjoy the flow through each class.  I also include classes with simple Pilates accessories (eg., foam roller, dyna-band, Pilates ring, Pilates Wheel, elastic bar, …) for those who have these at home.
      </p>
      <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8 2xl:gap-12 w-full">
        <div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/GYvvRrhvQVs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Mat Workout</h3>
        </div>
        <div>
          <div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/BxBQAXjapsk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Barre & Chair</h3>
        </div>
        <div>
					<div>
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/Jvr-JcqjS3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h3 class="text-center image-text font-bold mt-8">Accessories</h3>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .my_pilates {
    background-color: #f7f7f7;
  }

 .content .image-text {
    font-size: 34px;
		letter-spacing: .02em;
  }

	@media only screen and (max-width: 600px) {
		.content .image-text {
    font-size: 24px;
  }
	}
</style>
