<div class="myfitness_dance py-20">
  <div class="container">
    <div class="content">
      <div>
        <h2 class="md_big_title font-bold">
          <span class="color_primary">MY Fitness, </span>Dance
        </h2>
        <p class="text-lg color_tertiary mt-8 mb-12 max-w-5xl">
          Wherever she has lived over the past ten years, May has inspired
          others with her passion for dance through teaching dance classes
          (Ballet, Contemporary, Jazz, …) in Singapore, Vietnam and Botswana.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-12">
        <div>
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/Vg8AkwvrT1SSIrUtalzv_myfitness_dance1.jpg"
            alt="MY Fitness Dance"
            class="w-full h-full object-cover"
          />
        </div>
        <div>
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/VOaAPCBYQ72l77nl5hJx_myfitness_dance2.jpg"
            alt="MY Fitness Dance"
            class="w-full h-full object-cover"
          />
        </div>
        <div>
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/Bex33M4T8urkyk1A5rpw_myfitness_dance3.jpg"
            alt="MY Fitness Dance"
            class="w-full h-full object-cover"
          />
        </div>
        <div>
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/ftuiifoSaSQteAND8Pfu_myfitness_dance4.jpg"
            alt="MY Fitness Dance"
            class="w-full h-full object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .myfitness_dance {
    background-color: #f7f7f7;
  }
</style>
