<div class="passion_for_dance pb-20 pt-40">
  <div class="container flex justify-center">
    <div class="content grid grid-cols-2 items-center gap-20">
      <div>
        <h2 class="md_big_title font-bold">
          <span class="color_primary">Passion for Dance, </span>Singapore,
          Australia, USA
        </h2>
        <p class="text-lg color_tertiary mt-8">
          Her training progressed to focus on Chinese folk dance and
          choreography at a leading Dance Academy in China before moving to
          Singapore to specialise in contemporary dance, ballet, jazz,
          choreography and Pilates at LASALLE.SIA College of the Arts. She
          excelled at LASALLE.SIA obtaining Classical Ballet qualifications from
          the Royal Academy of Dance (UK) and winning its Outstanding Student
          Award in Dance and a prestigious Scholarship Award for her Performing
          Arts Degree.
        </p>
      </div>
      <div class="flex">
        <div class="image1">
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/YvcQu16lTYmlL8ifUBMk_passion_for_dance1.jpg"
            alt="Passion for Dance, Singapore, Australia, USA"
          />
        </div>
        <div class="image2">
          <img
            src="https://s3.amazonaws.com/unode1/assets/24958/zYG1QXt6QTSivDaZSCkP_passion_for_dance2.jpg"
            alt="Passion for Dance, Singapore, Australia, USA"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .passion_for_dance {
    background-color: #f7f7f7;
  }

  .passion_for_dance .content {
    max-width: 85rem;
  }

  .passion_for_dance .content .image1 {
    margin-top: -4rem;
  }

  .passion_for_dance .content .image2 {
    margin-left: 2rem;
  }
</style>
