@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --primaty-color: #2bbcbe;
  --swiper-navigation-size: 80px;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

/* Top Menu Style  */

.hero_banner .top_menu--logo {
  margin-right: 1rem;
}

.hero_banner .top_menu .container a:hover {
  color: var(--primaty-color);
}

.top_menu .container a {
  font-size: 18px;
  font-weight: 500;
}

.top_menu .container .top_menu--link {
  margin-left: 50px;
}

.underline-hover-effect {
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 3px
    no-repeat;
  transition: 0.5s;
}
.underline-hover-effect:hover {
  --d: 100%;
}

.hero_banner .top_menu .container .common-page-button {
  background-color: transparent;
  border: 2px solid var(--primaty-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem 2rem;
  color: var(--primaty-color);
  transition: 0.5s;
}

.hero_banner .top_menu .container .common-page-button:hover {
  background-color: var(--primaty-color);
  color: #fff;
}

.hero_banner .top_menu .container .sign-in {
  margin-left: 1rem;
}

/* Main Banner Style */

.hero_banner .hero_banner--main {
  position: relative;
}

.hero_banner .hero_banner--main .top_menu {
  position: absolute;
  width: 100%;
  z-index: 50;
}

.hero_banner .hero_banner--main .swiper-pagination-progressbar {
  background-color: #000;
}

.hero_banner
  .hero_banner--main
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background-color: var(--primaty-color);
}

.hero_banner .hero_banner--main .swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.hero_banner .hero_banner--main .swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 80px;
}

.hero_banner .hero_banner--main .swiper-button-next {
  right: 100px;
}

.hero_banner .hero_banner--main .swiper-button-prev {
  left: 100px;
}
