@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --primary-color: #2bbcbe;
  --secondary-color: #282b31;
  --tertiary-color: #594d6d;
  --swiper-navigation-size: 80px;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

/* Top Menu Style  */

.hero_banner .top_menu--logo {
  margin-right: 1rem;
}

.hero_banner .top_menu .container a:hover {
  color: var(--primary-color);
}

.top_menu .container a {
  font-size: 18px;
  font-weight: 500;
}

.top_menu .container .top_menu--link {
  margin-left: 50px;
}

.underline-hover-effect {
  background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 3px
    no-repeat;
  transition: 0.5s;
}
.underline-hover-effect:hover {
  --d: 100%;
}

.hero_banner .top_menu .container .common-page-button {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  padding: 0.5rem 2rem;
  color: var(--primary-color);
  transition: 0.5s;
}

.hero_banner .top_menu .container .common-page-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.hero_banner .top_menu .container .sign-in {
  margin-left: 1rem;
}

/* Main Banner Style */

.hero_banner .hero_banner--main {
  position: relative;
}

.hero_banner .hero_banner--main .top_menu {
  position: absolute;
  width: 100%;
  z-index: 50;
}

.hero_banner .hero_banner--main .swiper-pagination-progressbar {
  background-color: #000;
}

.hero_banner
  .hero_banner--main
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background-color: var(--primary-color);
}

.hero_banner .hero_banner--main .swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.hero_banner .hero_banner--main .swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 80px;
}

.hero_banner .hero_banner--main .swiper-button-next {
  right: 100px;
}

.hero_banner .hero_banner--main .swiper-button-prev {
  left: 100px;
}

.hero_banner .hero_banner--main .banner-swiper-logo {
  position: absolute;
  z-index: 50;
  height: 500px;
  width: 500px;
  top: 0;
  display: none;
}

/* Our Pricing Plan Style */

.our_pricing_plan {
  background: url('https://s3.amazonaws.com/unode1/assets/24958/Y9BXXE9oSy2OB2cR6MJw_2nd_sec_bg.png');
  color: var(--secondary-color);
}

.container .our-pricing-plan--content {
}

.our-pricing-plan .our-pricing-plan--title {
}

.our-pricing-plan .our-pricing-plan--subtitle {
  color: var(--tertiary-color);
  max-width: 800px;
}

.pricing-card .card-title {
  font-size: 26px;
}

.pricing-card .card-amount {
  font-size: 72px;
}

.pricing-card .card-save-text {
  color: var(--primary-color);
  min-height: 80px;
}

.pricing-card .card-trial-text {
  color: #85888e;
  border-color: #eee;
}

.pricing-card .cta-button {
  background-color: var(--primary-color);
}
