<div class="term_of_use py-10 md:py-32">
	<div class="container">
		<div class="content flex flex-col space-y-4 max-w-5xl mx-auto">
			<h1 class="md_big_title mb-6">TERMS OF USE</h1>
			<p class="md:text-lg">
				This website (<a href="www.myfitness.com.sg">www.myfitness.com.sg</a>) (hereinafter the “Site”) is operated by MY Fitness Pilates (hereinafter the “Company”).  This Site is designed to provide you with high quality fitness, Pilates, yoga and dance videos.  Some classes utilise fitness equipment, including but not limited to mat, Pilates Reformer, Pilates Chair, Fit Ball, TRX, Pilates Ring and Pilates Wheel.  The Site is directed to those people who are interested in maintaining their fitness levels, improving dance technique, and performing Pilates practice at home. Except where specifically advertised as suitable for children, this Website is not directed to persons under eighteen (18) years of age.
			</p>
			<p class="md:text-lg">
				By using this Site, you signify your consent to these terms of use. If you do not agree to these Terms of Use, please do not use the website.  Your access to and use of this Site is subject to the following terms and conditions (“Terms of Use”) and all applicable laws. By using our Site, you agree to be bound by this Agreement, whether you are a “Visitor” (which means that you simply browse one or more of our Websites) or you are a “Member” (which means that you have registered on one of our Websites as a user). By accessing and browsing the Site, you accept, without limitation or qualification, the Terms of Use and acknowledge that any other agreements between you and the Site are superseded and of no force or effect:
			</p>
			<p class="md:text-lg">
				<span>1.</span> You agree that the Site itself, as well as all content, videos, training materials, products, services and/or other materials, made available on the Site by us or other third parties, as well as the look and feel of all of the foregoing, (collectively referred to as the “Content”) are maintained for your personal use and information by MY Fitness Pilates (hereinafter the “Company”) and are the property of the Company. You agree that such Company Content shall include all proprietary videos, HTML/CSS, Javascript, graphics, voice, and sound recordings, artwork, photos, documents, and text as well as all other materials included in the Site, excluding only the materials you provide. Subject to your compliance with these Terms of Use, the Company hereby grants you a limited license, which is non-exclusive, non-transferable, and non-sublicensable, to access, view, and use the Site solely for your personal purposes. No Company Content may be copied, reproduced, republished, uploaded, posted, transmitted, distributed, used for public or commercial purposes, or downloaded in any way unless written permission is expressly granted by the Company. Modification of the Content or use of the Content for any other purpose is a violation of the copyright and other proprietary rights of the Company, as well as other authors who created the materials, and may be subject to monetary damages and penalties. 
			</p>
			<p class="md:text-lg">
				<span>2.</span> All Content, such as text, data, graphics files, videos and sound files, and other materials contained in the Site, are copyrighted unless otherwise noted and are the property of the Company and/or a supplier to the Company. No such materials may be used except as provided in these Terms of Use.
			</p>
			<p class="md:text-lg">
				<span>3.</span> All trade names, trademarks, and images and biographical information of people used in the Company Content and contained in the Site, including without limitation the name and trademark “MY Fitness Pilates”, are the property of the Company. The use of Content by you is strictly prohibited unless specifically permitted by these Terms of Use. Nothing contained in this Agreement or in the Site shall be construed as granting, by implication or otherwise, any license or right to use any Trademark or other proprietary information without the express written consent of the Company. The Company has the right, but has no obligation, to remove content and accounts containing materials that it deems, in its sole discretion, to be unlawful, offensive or violates these Terms of Use.
			</p>
			<p class="md:text-lg">
				<span>4.</span> Physical exercise, in all of its forms, including but not limited to Pilates, yoga, weightlifting, cardiovascular exercises of any kind, dance, walking, stretching, running, and with or without the use of equipment such as Pilates apparatus, weights or any other equipment that may be suggested by an instructor of the Company, is a strenuous physical exercise and poses the risk of injury or physical or mental exhaustion. Accordingly, you are urged and advised to seek the advice of a physician before beginning any physical exercise, regimen, routine, and/or program and use any suggested apparatus, shown in any of the video clips on the Site. MY Fitness Pilates is not a medical organization and our instructors or staff cannot give you medical advice or diagnosis. All suggestions and or comments relating to the use of equipment, poses, moves and instruction are not required to be performed by you and are carried out at your election while viewing the Company’s videos. Nothing contained in this Site should be construed as any form of such medical advice or diagnosis.
			</p>
			<p class="md:text-lg">
				<span>5.</span> By using our site you represent that you understand that the practice of physical exercise involves strenuous physical movement and that such practice carries the risk of injury whether physical or mental.  You understand that it is your responsibility to judge your physical and mental capabilities for practicing physical exercise.  It is your responsibility to ensure that by participating in classes and activities from the Company, you will not exceed your limits in the practice of physical exercise, and you will select the appropriate level of classes for your skills and abilities, as well as for any mental or physical conditions and/or limitations you have.  You understand that, from time to time instructors may suggest physical adjustments, movements or modifications or the use of equipment and it is your sole responsibility to determine if any such suggested adjustment, movement or modification or equipment is appropriate for your level of ability and physical and mental condition. You expressly waive and release any claim that you may have at any time for injury of any kind against the Company, or any person or entity involved with the Company, including without limitation its directors, principals, instructors, independent contractors, employees, agents, contractors, affiliates and representatives.
			</p>
			<p class="md:text-lg">
				<span>6.</span> Viewing video and audio material on the site requires broadband access. Please review the system requirements to ensure that membership practices can be accessed before purchase.  The Company does not warrant that use of the materials will be uninterrupted or error free, that defects will be corrected, or that this site, the content, and/or the materials available on this site are free from bugs or viruses or other harmful components. You assume all responsibility for the cost of all necessary repairs or corrections. The Company shall not be responsible for any performance or service problems caused by any third party website or third party service provider. Any such problem shall be governed solely by the agreement between you and that provider. The Company assumes no liability or responsibility for any errors or omissions in the content of the Site.
			</p>
			<p class="md:text-lg">
				<span>7.</span> When you register with the Company and/or this Site, you expressly consent to receive electronically any announcements or communications concerning the Company’s products and services.  You also agree to: (a) provide true, accurate, current and complete information about yourself as prompted by the registration form available on our Website (the “Registration Data”) and (b) maintain and promptly update your Registration Data to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current or incomplete, or we have reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, the Company reserves the right to suspend or terminate your account and refuse any and all current or future use of the Service (or any portion thereof) at any time.
			</p>
			<p class="md:text-lg">
				<span>8.</span> The Company shall exclusively own all rights (including property rights) to any comments or suggestions you may send to the Company about the Site and shall be entitled to their unrestricted use, publication, and dissemination for any purpose, commercial or otherwise without any acknowledgment or compensation to you.
			</p>
			<p class="md:text-lg">
				<span>9.</span> The Company shall use commercially reasonable efforts to restrict unauthorized access to our data and files. However no system whether or not password protected can be entirely impenetrable. You acknowledge that it may be possible for an unauthorized third party to access, view, copy, modify, or distribute the data and files you store using the Site. Use of the Site is completely at your own risk.
			</p>
			<p class="md:text-lg">
				<span>10.</span> The Company will not intentionally disclose any personally identifying information about you to third parties, except where the Company, in good faith, believes such disclosure is necessary to comply with the law or enforce these Terms of Use. By using the Site, you signify your acceptance of the Company’s Privacy Policy (see below). If you do not agree with this Privacy Policy, in whole or part, please do not use this Site.
			</p>
			<p class="md:text-lg">
				<span>11.</span> The Company shall not be responsible for any performance or service problems caused by any third party website or third party service provider (including, for example, your web service provider service, the payment services provider, your software and/or any updates or upgrades to that software). Any such problem shall be governed solely by the agreement between you and that provider. The Company reserves the right to determine, in its sole discretion, whether the Company is responsible for any such malfunction or disruption. The Company also reserves the right to limit your use of the site and/or the content or to terminate your account should the Company determine that you have violated these terms of use, or that you have violated any other rules or conditions of the Company. The Company reserves the right to refuse access to the site and/or the Company’s content, products and/or services to anyone in its sole discretion. The Company reserves the right to determine, in its sole discretion, whether the Company is responsible for any such malfunction or disruption.
			</p>
			<p class="md:text-lg">
				<span>12.</span> You agree not to use or launch any automated system, including without limitation, “robots,” “spiders,” or “offline readers,” that accesses the Site in a manner that sends more request messages to the Company’s servers in a given period of time than a human can reasonably produce in the same period by using a conventional on-line web browser.
			</p>
			<p class="md:text-lg">
				<span>13.</span> If you register to become a Member, you may not share, give or sell your password or username to any other person or entity. Excessive viewings or logins by any Member may be construed by the Company as fraudulent use of the Site, which will result in the immediate cancellation of account without refund. When becoming a Member you agree to take all actions possible to protect your username and password from fraudulent use.  The Company reserves the right to cancel any account it believes has been compromised, or is being used fraudulently, at our own discretion.
			</p>
			<p class="md:text-lg">
				<span>14.</span> Members may only use a promotional 7 day free trial period once. To access the free trial Members will be required to register with the Website. After the free trial period expires Members must subscribe to the Website. The Company reserves the right to terminate any account that is using or trying to use more than 1 free trial period. If account is terminated due to a violation of this Agreement, the Company will not reimburse Member for the remainder of any paid subscription. Reimbursements be not be made for account cancellations prior to renewal date.
			</p>
			<p class="md:text-lg">
				<span>15.</span> Accounts are billed quarterly or annually. All accounts are renewed automatically until cancelled. Members may cancel their accounts at any time. Accounts must be cancelled prior to the renewal date in order to end account charges.  Subscription fees are charged in USD currency. Depending upon your credit card’s currency and the country in which your card was issued, your credit card provider may impose foreign exchange fees and other fees which are in accordance with your arrangements with that credit card provider.
			</p>
			<p class="md:text-lg">
				<span>16.</span> The Company may, in its sole discretion, partially refund the subscription fee charged for any use of the site and/or any content or a pro-rata portion. To request a refund, send an email to info.myfitness@gmail.com with REFUND as the message subject and include the reasons you are requesting a refund. You must also include the last 4 digits of the credit card that was used at time of purchase. The Company shall refuse any refund seven (7) days after your payment for use of the site and/or any content, either pursuant to the Company’s customer license agreement or otherwise, regardless of the reason for disruption. 
			</p>
			<p class="md:text-lg">
				<span>17.</span> In no event shall the Company be liable for any special, incidental, indirect, punitive, reliance or consequential damages, whether foreseeable or not, including, but not limited to, damage or loss of property, equipment, information or data, loss of profits, revenue or goodwill, cost of capital, cost of replacement services, or claims for service interruptions or transmission problems, occasioned by any defect in the site, the content, and/or related materials, the inability to use services provided hereunder or any other cause whatsoever with respect thereto, regardless of theory of liability. This limitation will apply even if the Company has been advised or is aware of the possibility of such damages.
			</p>
			<p class="md:text-lg">
				<span>18.</span> You agree that your use of the website shall be at your sole risk. To the fullest extent permitted by law, the Company, its officers, directors, employees, and agents disclaim all warranties, express or implied, in connection with the website and your use thereof. The Company makes no warranties or representations about the accuracy or completeness of this website’s content or the content of any sites linked to this website and assumes no liability or responsibility for any (i) errors, mistakes, or inaccuracies of content, (ii) personal injury or property damage, of any nature whatsoever, resulting from your access to and use of our website, (iii) any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein, (iv) any interruption or cessation of transmission to or from our website, (iv) any bugs, viruses, trojan horses, or the like which may be transmitted to or through our website by any third party, and/or (v) any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available via the website.
			</p>
			<p class="md:text-lg">
				<span>19.</span> The Company does not warrant, endorse, guarantee, or assume responsibility for any product or service advertised or offered by a third party through the website or any hyperlinked website or featured in any banner or other advertising, and the Company will not be a party to or in any way be responsible for monitoring any transaction between you and third-party providers of products or services. As with the purchase of a product or service through any medium or in any environment, you should use your best judgment and exercise caution where appropriate.
			</p>
			<p class="md:text-lg">
				<span>20.</span> In no event shall the Company, its officers, directors, employees, or agents, be liable to you for any direct, indirect, incidental, special, punitive, or consequential damages whatsoever resulting from any (i) errors, mistakes, or inaccuracies of content, (ii) personal injury or property damage, of any nature whatsoever, resulting from your access to and use of our website, (iii) any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein, (iv) any interruption or cessation of transmission to or from our website, (iv) any bugs, viruses, trojan horses, or the like, which may be transmitted to or through our website by any third party, and/or (v) any errors or omissions in any content or for any loss or damage of any kind occurred as a result of your use of any content posted, emailed, transmitted, or otherwise made available via the website, whether based on warranty, contract, tort, or any other legal theory, and whether or not the Company is advised of the possibility of such damages. The foregoing limitation of liability shall apply to the fullest extent permitted by law in the applicable jurisdiction.
			</p>
			<p class="md:text-lg">
				<span>21.</span> You specifically acknowledge that the Company shall not be liable for content posted by users or the defamatory, offensive, or illegal conduct of any third party and that the risk of harm or damage from the foregoing rests entirely with you.
			</p>
			<p class="md:text-lg">
				<span>22.</span> You agree to indemnify and hold the Company and each of its directors and employees, harmless from any and all liabilities, claims, damages and expenses, including attorney’s fees, arising out of or relating to (i) your use of and access to the Website; (ii) your violation of any term of these Agreement; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; or (iv) any claim that one of your submissions of content caused damage to a third party. This defense and indemnification obligation will survive this Agreement and your use of the Site.
			</p>
			<p class="md:text-lg">
				<span>23.</span> The provisions of these Terms of Use are for the benefit of the Company, its subsidiaries and affiliates, and each shall have the right to assert and enforce such provisions directly or on its own behalf.
			</p>
			<p class="md:text-lg">
				<span>24.</span> This agreement shall be governed by and construed in accordance with the laws of Singapore, without giving effect to any principles of conflicts of law. Due to the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable Content. If any provision of this agreement shall be unlawful, void, or for any reason unenforceable, then that provision shall be deemed severable from this agreement and shall not affect the validity and enforceability of any remaining provisions.
			</p>
			<p class="md:text-lg">
				<span>25.</span> These Terms of Use may be revised from time to time by updating this posting. You are bound by any such revisions and should therefore periodically visit this page to review the then current Terms of Use to which you are bound.
			</p>

			<h4 class="italic text-lg md:text-xl font-medium mb-">Last Updated: 31st October, 2021</h4>

			<h1 class="md_big_title my-8 second-heading">Online Privacy Policy</h1>

			<p class="md:text-lg">
				MY Fitness Pilates (the “Company”) respects the privacy concerns of the users of its website, www.myfitness.com.sg and the services provided therein (the “Site”). The Company thus provides this privacy statement to explain what information is gathered during a visit to the Site and how such information may be used. 
			</p>
			<p class="md:text-lg">
				Please also review the Terms of Use which also govern use of this Site. 
			</p>
			<p class="md:text-lg">
				<span>Use of Information:</span> As a general policy, no personally identifiable information, such as your name, address, or e-mail address, is automatically collected from your visit to the Site. However, certain non-personal information is recorded by the standard operation of the Company’s internet servers. Information such as the type of browser being used, its operating system, and your IP address is gathered in order to enhance your online experience. 
			</p>
			<p class="md:text-lg">
				If you register on one of our Websites, you may be requested to submit information such as your name, mailing and/or e-mail address, country of residence, demographic information such as your age and gender, and personal preference information such as your preferred interests. Information submitted at the time of submission will be used by the Company only as necessary for our legitimate business interests, including without limitation the improvement of our products, services and the contents of the Site. The Company may also share such information with our business and promotional partners to further those interests. Personally identifiable information is never sold or leased to any third parties. With your permission, we may use your contact information to send you information about our Company and products. You may always opt-out of receiving future mailings as provided below. The Company does not store any credit card information it may receive in regard to a specific transaction and/or billing arrangement except as necessary to complete and satisfy its rights and obligations with regard to such transaction, billing arrangement, and/or as otherwise authorized by a user. 
			</p>
			<p class="md:text-lg">
				The Company may disclose user information in special cases when we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference (either intentionally or unintentionally) with the Company’s rights or property, other users of the Site, or anyone else that could be harmed by such activities. 
			</p>
			<p class="md:text-lg">
				If you register as a Member on our Site you will be required to choose a password and user name, and you may be asked for additional information regarding your account, You are responsible for maintaining the confidentiality of your password and account information, and are fully responsible for all activities that occur under your password or account. You agree to (a) immediately notify the Company of any unauthorized use of your password or account or any other breach of security, and (b) ensure that you log out from your account at the end of each session. You may never use a Member’s account without prior authorization from the Company. The Company will not be liable for any loss or damage arising from your failure to comply with this Agreement. 
			</p>
			<p class="md:text-lg">
				<span>Minors Age 17 and Under:</span> The Company recognizes the special obligation to protect personally identifiable information obtained from minors aged 17 and under. If you are under the age of 18, you can use the Website only in conjunction with, and under the supervision of, your parent or guardian who has agreed to the Terms of Use.  By registering as a user or visiting the Site, you represent to the Company that you will use the Site only in conjunction with, and under the supervision of, your parent or guardian who has agreed to the terms of use. If you do not meet the requirements above you may not use the Site. You represent that the information that you provide about yourself (including your age) as requested in any account information is accurate and complete.  If the Company discovers that a minor aged 17 or younger has signed up on the Site without the above parent or guardian consent, we may at our sole discretion delete that child’s identifiable information and membership from our records. 
			</p>
			<p class="md:text-lg">
				The Company nonetheless encourages parents to go online with their kids. Here are a few tips to help make a child’s online experience safer: 
			</p>
			<p class="md:text-lg">
				<ol class="max-w-2xl mx-auto">
					<li>1. Teach kids never to give personal information, unless supervised by a parent or responsible adult. Includes name, address, phone, school, etc.</li>
					<li>2. Know the sites your kids are visiting and which sites are appropriate.</li>
					<li>3. Look for Website privacy policies. Know how your child’s information is treated.</li>
				</ol> 
			</p>
			<p class="md:text-lg">
				<span>Use of Cookies:</span> Cookies are pieces of information that a website transfers to an individual’s computer hard drive for record keeping purposes. Cookies make using our Site easier by, among other things, saving your passwords and preferences for you. These cookies are restricted for use only on our Site, and do not transfer any personal information to any other party. Most browsers are initially set up to accept cookies. You can, however, reset your browser to refuse all cookies or indicate when a cookie is being sent. Please consult the technical information relevant to your browser for instructions. If you choose to disable your cookies setting or refuse to accept a cookie, some parts of the Site may not function properly or may be considerably slower.
			</p>
			<p class="md:text-lg">
				<span>Malware/Spyware/Viruses:</span> Neither the Company nor the Site knowingly permit the use of malware, spyware, viruses, and/or other similar types of software.
			</p>
			<p class="md:text-lg">
				<span>Links to External Sites:</span> The Company is not responsible for the content or practices of third party websites that may be linked to the Site. The Company is also not responsible for any information that you might share with such linked websites. You should refer to each website’s respective privacy policy and practices prior to disclosing any information. 
			</p>
			<p class="md:text-lg">
				<span>Contact Information for Complaints or Concerns:</span> If you have any complaints or concerns about the Company or about this privacy statement, please contact: 
			</p>
			<p class="md:text-lg">
				Via email: info.myfitness@gmail.com 
			</p>
			<p class="md:text-lg">
				Information provided by you via general e-mail inquiries to the Company such as your e-mail address is used only to respond to your inquiries in the ordinary course of business, and is never shared with third parties. 
			</p>
			<p class="md:text-lg">
				<span>Security:</span> Security for all personally identifiable information is extremely important to us. Unfortunately, no data transmission over the internet can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, The Company cannot ensure or warrant the security of any information you transmit via the internet. By transmitting any such information to the Company, you accept that you do so at your own risk.
			</p>
			<p class="md:text-lg">
				<span>Your Acceptance of These Terms:</span> By using the Site, you accept the policies and restrictions set forth in this Online Privacy Policy. If you do not agree to this policy, please do not use the Site. This Online Privacy Policy may be revised from time to time by updating this posting. You are bound by any such revisions and should therefore periodically visit this page to review the then current Online Privacy Policy to which you are bound.
			</p>
			<h4 class="italic text-lg md:text-xl font-medium">Last Updated: 31st October, 2021</h4>
		</div>
	</div>
</div>

<style>
	.term_of_use a {
		color: #0645AD;
	}

	.term_of_use p {
		color: var(--tertiary-color);
		text-align: justify;
	}

	.term_of_use .second-heading {
		margin-top: 3rem;
	}

	.term_of_use span {
		font-weight: 700;
		color: var(--secondary-color);
	}

	.term_of_use ol li {
		margin: 1rem 0;
		color: var(--tertiary-color)
	}
</style>